<html>
    <head>
        <title>Challenge Level GOLD</title>
    </head>
    <body>
        <h3>Challenge Level GOLD</h3>
        <div>
            Load file teks (*.txt) : <input type="file" id="fileInput" accept=".txt">
            <br><br>Metode: <select id="opsi">
                <option value="tokenize">Tokenize</option>
                <option value="clean">Clean</option>
                <option value="clean alay">Clean Alay</option>
                <option value="stem">Stem</option>
                <option value="remove stopwords">Remove Stopwords</option>
                <option value="simpan">Simpan Hasil</option>
                <option value="load">Load Hasil Terakhir</option>
            </select>
            <button id="btnexec">Jalankan</button>
        </div>
        <br>
        Status: <span id="status">Idle</span>
        <br><br>
        Metode: <span id="metode">-</span>
        <br><br>
        <textarea cols="50" rows="15" id="txtinput" placeholder="ketik teks disini"></textarea>
        <textarea cols="50" rows="15" id="txtoutput" placeholder="pilih metode dan klik tombol jalankan"></textarea>
        <hr>

    </body>
    <script src="{{url_for('static', filename='jquery.js')}}"></script>
    <script type="text/javascript">
        $(document).ready(function(){

            const fileInput = $('#fileInput');
            const textarea = $('#txtinput');
            fileInput.on('change', (event) => {
                const file = event.target.files[0];
                if (file.type.match('text.*')) {
                    const reader = new FileReader();
                    reader.onload = (event) => {
                    textarea.val(event.target.result);
                    };
                    reader.readAsText(file);
                } else {
                    alert('pilih text file.');
                }
            });

            $('#btnexec').click(function(){
                var opsi = $('#opsi').val();
                var txtinput = $('#txtinput').val();
                $.ajax({
					url: '/proses',
					method: 'POST',
					data: {metode: opsi, input: txtinput},
					beforeSend: function() {
						$('#status').text('sedang diproses..')
					},
					success: function(data) {
						try {
							var hasilproses = JSON.parse(data);
                            var txtoutput = hasilproses.hasil;
                            var metode = hasilproses.metode;
							$('#txtoutput').val(txtoutput);
                            $('#status').text('Proses selesai')
							$('#metode').text(metode);
						} catch(err) {
							$('#status').text('Error mengolah hasil data');
                            console.log(err);
						}
					},
					error: function(XMLHttpRequest, textStatus, errorThrown) {
						$('#status').text('Terjadi kesalahan\n'+XMLHttpRequest.status+' - '+XMLHttpRequest.statusText);
						console.log(XMLHttpRequest);
					},
					complete: function() {
						//...
					}
				});
                
            });
        });
    </script>
</html>